<h1>Flight Information</h1>
<p>Date: <%= @booking.flight.departure_date.strftime("%m/%d/%Y") %></p>
<p>Time: <%= @booking.flight.departure_date.strftime('%l:%M %p') %></p>
<p>Route: <%= Airport.find(@booking.flight.departure_airport_id).code %> to 
         <%= Airport.find(@booking.flight.arrival_airport_id).code %></p>
<p>Duration: <%= @booking.flight.flight_duration %> minutes</p>
<p>Flight ID: <%= @booking.flight.id %></p>

<br>
<hr style="border: none; height: 1px; background-color: #000;">
<br>

<h1>Passengers</h1>
<ol>
<% @booking.passengers.each do |passenger| %>
  <li><p><%= passenger.name %></p></li>
<% end %>
</ol>